body {
	position: relative;

	min-width: 1200px;
	margin: 0 auto;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
	display: none;
}

.main-header {
	padding-top: 50px;

	background-color: #eeeeee;
}

.main-logo {
	height: 65px;
}

.main-logo:hover,
.main-logo:focus {
	opacity: 0.8;
}

.main-logo:active {
	opacity: 0.3;
}

.main-navigation {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;

	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}

.site-navigation,
.user-navigation {
	margin: 0;
	margin-top: 25px;
	padding: 0;

	list-style: none;
}

.site-navigation {
	display: flex;
	justify-content: space-between;

	width: 440px;
	margin-right: 40px;
}

.site-navigation li,
.user-navigation li {
	position: relative;
}

.site-navigation-current::after,
.user-navigation-current::after {
	position: absolute;
	top: 32px;
	left: 0;
	z-index: 100;

	display: block;
	width: 100%;
	height: 2px;

	content: "";
	background-color: #fb565a;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
	opacity: 0.3; 
}

.user-navigation a {
	padding-left: 40px;

	background-image: url("../img/cart-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.slider {
	margin-bottom: 80px;

	background-color: #eeeeee;
}

.slider-wrapper {
	position: relative;

	width: 1160px;
	height: 431px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.slide {
	display: none;
	position: absolute;
	top: 0;
	left: 20px;

	width: 1160px;
	height: 431px;
	padding-top: 78px;
	box-sizing: border-box;

	background-repeat: no-repeat;
}

.slide:nth-of-type(1) {
	background-image: url("../img/nerds-slide1.png");
	background-position: 431px bottom;
}

.slide:nth-of-type(2) {
	background-image: url("../img/nerds-slide2.png");
	background-position: 495px bottom;
}

.slide:nth-of-type(3) {
	background-image: url("../img/nerds-slide3.png");
	background-position: 400px bottom;
}

.slide b {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.slide p {
	margin-top: 25px;
	margin-bottom: 40px;
}

.slide .btn {
	padding-left: 55px;
	padding-right: 55px;
}

.slider-controls {
	position: absolute;
	bottom: 81px;
	left: 499px;
	z-index: 100;

	display: flex;

	list-style: none;
}

.slider-controls label {
	position: relative;
	display: block;

	width: 18px;
	height: 18px;
	margin-left: 17px;

	font-size: 0;

	background-color: #ffffff;
	border: none;
	border-radius: 50%;

	cursor: pointer;
}

#slide1:checked ~ ul .toggle-slide1::after,
#slide2:checked ~ ul .toggle-slide2::after,
#slide3:checked ~ ul .toggle-slide3::after {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 101;

	display: block;
	width: 4px;
	height: 4px;

	background-color: #ffffff;
	border: 2px solid #c1c1c1;
	border-radius: 50%;

	content: "";
}

#slide1:checked ~ .slide:nth-of-type(1),
#slide2:checked ~ .slide:nth-of-type(2),
#slide3:checked ~ .slide:nth-of-type(3) {
	display: block;
}

.btn {
	display: inline-block;

	padding-top: 16px;
	padding-bottom: 16px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #fb565a;
	border-radius: 2px;
}

.btn:hover {
	background-color: #e74246;
}

.btn:active {
	color: rgba(255,255,255,0.3);

	background-color: #d7373b;
	box-shadow: inset 0 3px 4px 0 rgba(0,0,0,0.35);
}

.services {
	position: relative;

	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.services::after {
	position: absolute;
	bottom: -81px;
	left: 20px;
	
	display: block;
	width: 1160px;
	height: 2px;

	background-color: #eeeeee;

	content: "";
}

.services-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	padding-right: 60px;

	list-style: none;
}

.services-item {
	flex-basis: 300px;
	padding-top: 146px;

	background-image: url("../img/illustration-2.png");
	background-repeat: no-repeat;
	background-position: left top;
}

.services-item:first-child {
	background-image: url("../img/illustration-1.png");
}

.services-item:last-child {
	background-image: url("../img/illustration-3.png");
}

.services-item .btn {
	margin-top: 15px;
	padding-left: 40px;
	padding-right: 40px;
}

.services-item:nth-child(2) .btn {
	background-color: #00ca74;
}

.services-item:nth-child(2) .btn:hover {
	background-color: #00bc6c;
}

.services-item:nth-child(2) .btn:active {
	background-color: #00aa62;
}

.services-item:nth-child(3) .btn {
	background-color: #efc84a;
}

.services-item:nth-child(3) .btn:hover {
	background-color: #eab534;
}

.services-item:nth-child(3) .btn:active {
	background-color: #e5a722;
}

.services-item h3 {
	margin-bottom: 17px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.services-item p {
	padding-right: 20px;
}

.studio-about {
	position: relative;
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	margin-bottom: 54px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 32px;
}

.studio-about::after {
	position: absolute;
	bottom: -50px;
	left: 20px;
	
	display: block;
	width: 1160px;
	height: 2px;

	background-color: #eeeeee;

	content: "";
}

.studio-wrapper:first-of-type {
	flex-basis: 660px;
}

.studio-wrapper:last-of-type {
	flex-basis: 360px;

	padding-top: 248px;

	background-image: url("../img/nerds-illustration.png");
	background-repeat: no-repeat;
	background-position: center 10px;
}

.lead {
	margin-bottom: 32px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.studio-about h3 {
	margin-top: 40px;
	margin-bottom: 23px;

	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.studio-projects {
	margin: 0;
	padding: 0;

	list-style: none;
}

.studio-projects li {
	margin-bottom: 24px;
}

.studio-projects li::before {
	display: inline-block;

	width: 25px;
	height: 2px;
	margin-right: 10px;

	background-color: #fb565a;
	vertical-align: middle;

	content: "";
}

.studio-wrapper:last-of-type h3 {
	margin-top: 7px;
	margin-bottom: 25px;
	padding-left: 17px;
}

.advantages {
	border-spacing: 0 15px;
}

.advantages tr:first-child {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #000000;
}

.advantages .advantage-percent {
	position: relative;
	top: -17px;
	left: 0;

	font-size: 25px;
	line-height: 25px;
}

.advantages tr:last-child {
	line-height: 18px;
}

.advantages td {
	width: 120px;
}

.cases {
	position: relative;

	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.cases::after {
	position: absolute;
	bottom: 0;
	left: 20px;
	
	display: block;
	width: 1160px;
	height: 2px;

	background-color: #eeeeee;

	content: "";
}

.cases-list {
	display: flex;
	justify-content: space-between;
	

	margin: 0;
	padding: 0;

	list-style: none;
}

.case-item {
	position: relative;

	flex-basis: 290px;

	height: 180px;
	vertical-align: middle;
}

.case-item::after {
	position: absolute;
	top: 61px;
	right: 0;

	display: block;
	width: 2px;
	height: 52px;
	
	background-color: #eeeeee;

	content: "";
}

.case-item:nth-child(1)::after {
	right: 9px;
}

.case-item:nth-child(2)::after {
	right: -1px;
}

.case-item:nth-child(3)::after {
	right: -11px;
}

.case-item:nth-child(4)::after {
	display: none;
}

.cases a {
	display: block;
	margin: 0 auto;

	opacity: 0.2;
}

.case-item:nth-child(1) a {
	margin-top: 59px;
	margin-left: 31px;
}

.case-item:nth-child(2) a {
	margin-top: 43px;
	margin-left: 36px;
}

.case-item:nth-child(3) a {
	margin-top: 62px;
	margin-left: 58px;
}

.case-item:nth-child(4) a {
	margin-top: 49px;
	margin-left: 74px;
}

.cases a:hover,
.cases a:focus {
	opacity: 1;
}

.cases a:active {
	opacity: 0.1;
}

.contacts {
	position: relative;

	width: 1440px;
	margin: 0 auto;
	margin-bottom: 68px;
}

.contacts-wrapper {
	position: absolute;
	top: 54px;
	left: 140px;

	padding: 50px;

	background-color: #ffffff;
}

.contacts-wrapper h3 {
	margin-top: 0;
	margin-bottom: 22px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.contacts-wrapper p {
	margin-bottom: 14px;

	line-height: 18px;
	color: #666666;
}

.contacts-wrapper .btn {
	margin-top: 23px;
	padding-left: 45px;
	padding-right: 45px;
}

.map-wrapper {
	height: 416px;
}

.main-footer {
	display: flex;

	width: 1160px;
	margin: 0 auto;
	margin-bottom: 70px;
	padding-left: 20px;
	padding-right: 20px;
}

.socials {
	display: flex;

	margin: 0;
	margin-right: 138px;
	padding: 0;

	font-size: 0;
	list-style: none;
}

.socials li {
	margin-right: 10px;
}

.socials li:last-child {
	margin-right: 0;
}

.socials a {
	position: relative;
	display: block;

	width: 80px;
	height: 80px;

	color: #283136;

	background-color: #e1e1e1;
	border-radius: 50%;
}

.socials a::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;

	width: 80px;
	height: 80px;

	background-repeat: no-repeat;
	background-position: center center;

	content: "";
}

.socials-vk::after {
	background-image: url("../img/vk-icon.svg");
}

.socials-fb::after {
	background-image: url("../img/fb-icon.svg");
}

.socials-insta::after {
	background-image: url("../img/insta-icon.svg");
}

.socials a:hover {
	background-color: #e74246;
}

.socials a:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 4px 0 rgba(0,0,0,0.35);
}

.socials a:active::after {
	opacity: 0.3;
}

.main-footer-wrapper {
	margin-top: 7px;
	margin-left: 2px;
}

.main-footer-wrapper b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.main-footer-wrapper p {
	margin-top: 8px;

	line-height: 22px;
	color: #444444;
}

.modal-feedback {
	position: absolute;
	left: 50%;
	bottom: 120px;

	display: none;
	width: 760px;
	height: 455px;
	margin-left: -480px;
	padding-top: 74px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 84px;

	background-color: #ffffff;
	box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.modal-feedback h2 {
	margin-top: 0;
	margin-bottom: 48px;
	
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.modal-feedback form {
	position: relative;
}

.modal-wrapper {
	display: flex;
	justify-content: space-between;
}

.modal-wrapper label {
	flex-basis: 360px;
}

.modal-feedback label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.modal-feedback input {
	width: 356px;
	height: 46px;
	margin-top: 13px;
	margin-bottom: 35px;
}

.modal-feedback textarea {
	width: 756px;
	height: 114px;
	margin-top: 13px;
	margin-bottom: 47px;
}

.modal-feedback input,
.modal-feedback textarea {
	border: 2px solid #d7dcde;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
	border: 2px solid #b4b9bb;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
	border: 2px solid #000000;
	outline: none;
}

.modal-feedback input:invalid {
	border: 2px solid #e74246;
}

.modal-feedback button {
	border: none;
}

.modal-feedback .btn {
	padding-left: 80px;
	padding-right: 80px;
}

.modal-feedback .modal-close {
	position: absolute;
	top: -70px;
	right: -10px;

	width: 21px;
	height: 21px;

	font-size: 0;

	background-color: transparent;
	background-image: url("../img/close-cross.png");
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.3
}

.modal-feedback .modal-close:hover {
	opacity: 1;
}

.modal-feedback .modal-close:active {
	opacity: 0.1;
}

/* магазин */

.shop-title {
	margin-top: 0;
	margin-bottom: 55px;
	padding-top: 78px;
	padding-bottom: 108px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
	color: #000000;

	background-color: #eeeeee;
}

.container {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.filters {
	flex-basis: 260px;
}

.filters fieldset {
	margin: 0;
	margin-bottom: 52px;
	padding: 0;

	border: none;
}

.filters fieldset:nth-of-type(2) {
	margin-bottom: 46px;
}

.filters fieldset:nth-of-type(3) {
	margin-bottom: 50px;
}

.filters legend {
	margin-bottom: 16px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.filters label {
	font: inherit;
	line-height: 20px;

	cursor: pointer;
}

.price-controls {
	position: relative;

	width: 260px;
	height: 80px;
	margin-top: 30px;
	margin-bottom: 15px;

	background-color: #eeeeee;
	border-radius: 2px;
}

.price-scale {
	position: absolute;
	top: 39px;
	left: 20px;

	width: 219px;
	height: 2px;

	background-color: #d7dcde;
}

.price-value {
	width: 150px;
	height: 2px;

	background-color: #00ca74;
}

.price-toggle {
	position: absolute;
	top: 30px;

	width: 4px;
	height: 4px;

	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.35);

	cursor: pointer;
}

.toggle-min {
	left: 18px;
}

.toggle-max {
	left: 160px;
}

.filters .price {
	line-height: 22px;
	text-transform: uppercase;
}

.filters .price:first-of-type {
	margin-right: 28px;
}

.price input {
	width: 80px;
	height: 38px;
	margin-left: 8px;

	font: inherit;
	text-align: center;

	background-color: #eeeeee;
	border: none;
	border-radius: 2px;
}

.filters input[type="radio"],
.filters input[type="checkbox"] {
	display: none;
}

.radio-checkbox {
	position: relative;

	display: block;
	margin-bottom: 17px;
	padding-left: 35px;
	padding-top: 2px;
}

.radio-checkbox:last-of-type {
	margin-bottom: 0;
}

.radio-indicator {
	position: absolute;
	top: -2px;
	left: 0;

	width: 17px;
	height: 17px;

	background-color: #ffffff;
	border: 4px solid #4d4d4d;
	border-radius: 50%;
	opacity: 0.4;
}

.filters input[type="radio"]:checked + .radio-indicator::after {
	position: absolute;
	top: 4px;
	left: 4px;

	width: 9px;
	height: 9px;

	background-color: #4d4d4d;
	border-radius: 50%;
	
	content: "";
}

.radio-indicator:hover,
.checkbox-indicator:hover {
	opacity: 1;
}

.filters input[type="radio"]:disabled + .radio-indicator,
.filters input[type="checkbox"]:disabled + .checkbox-indicator {
	opacity: 0.1;
}

.checkbox-indicator {
	position: absolute;
	top: -1px;
	left: 0;

	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-off.png");
	background-repeat: no-repeat;
	background-position: left center;
	opacity: 0.4;
}

.filters input[type="checkbox"]:checked + .checkbox-indicator {
	background-image: url("../img/checkbox-on.png");
}

.filters .btn {
	padding-left: 90px;
	padding-right: 90px;
}

.filter-nav {
	color: #000000;

	background-color: #eeeeee;
	border: none;
	border-radius: 2px;
}

.filter-nav:hover {
	background-color: #dfdfdf;
}

.filter-nav:active {
	color: rgba(0,0,0,0.3);

	background-color: #d5d5d5;
	box-shadow: inset 0 3px 4px 0 rgba(0,0,0,0.35);
}

.catalog {
	flex-basis: 760px;
}

.catalog-sort {
	display: flex;
	justify-content: space-between;

	margin-bottom: 52px;
}

.catalog-sort h3 {
	margin: 0;

	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.sort-type {
	display: flex;
	justify-content: space-between;

	width: 360px;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.sort-type a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0,0,0,0.3);
}

.sort-type a:hover {
	color: rgba(0,0,0,0.6);
}

.sort-type a:active,
.sort-type .sort-type-current {
	color: #000000;
}

.sort-type .sort-up,
.sort-type .sort-down {
	display: block;

	width: 11px;
	height: 10px;
	margin-top: 7px;

	font-size: 0;

	background-image: url("../img/icon-sort.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	opacity: 0.2;
}

.sort-type .sort-down {
	margin-left: 10px;
}

.sort-type .sort-up {
	transform: rotate(180deg);
}

.sort-type .sort-up:hover,
.sort-type .sort-down:hover {
	opacity: 0.6;
}

.sort-type .sort-up:active,
.sort-type .sort-down:active,
.sort-up.sort-type-current,
.sort-down.sort-type-current {
	opacity: 1;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-item {
	position: relative;

	margin-bottom: 27px;
}

.catalog-item::before {
	display: block;
	width: 100%;
	height: 40px;

	background-image: url("../img/browser.png");
	background-repeat: no-repeat;
	opacity: 0.12;

	content: "";
}

.catalog-item:hover::before {
	opacity: 1;
}

.catalog-item-hover {
	position: absolute;
	bottom: 8px;
	left: 0;
	display: none;

	width: 360px;
	padding-top: 28px;
	padding-bottom: 43px;

	text-align: center;

	background-color: #eeeeee;
}

.catalog-item-hover .item-header {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.catalog-item-hover p {
	line-height: 18px;
	color: #666666;
}

.catalog-item-hover .btn {
	margin-top: 15px;
	padding-left: 60px;
	padding-right: 60px;
}

.catalog-item:hover .catalog-item-hover {
	display: block;
}

.catalog-pagination {
	display: flex;
	justify-content: flex-start;

	margin: 0;
	margin-top: 25px;
	margin-bottom: 60px;
	padding: 0;

	list-style: none;
}

.catalog-pagination li {
	margin-right: 10px;
}

.catalog-pagination a {
	display: block;
	width: 50px;
	height: 50px;
	
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}

.catalog-pagination .catalog-pagination-next {
	width: 260px;

	text-transform: uppercase;
}

.catalog-pagination .catalog-pagination-current {
	width: 44px;
	height: 44px;

	line-height: 44px;

	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}