body {
	min-width: 1200px;
	margin: 0 auto;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden,
.modal-feedback {
	display: none;
}

.main-header {
	width: 1440px;
	margin: 0 auto;
	padding-top: 50px;

	background-color: #eeeeee;
}

.main-logo:hover,
.main-logo:focus {
	opacity: 0.8;
}

.main-logo:active {
	opacity: 0.3;
}

.main-navigation {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;

	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}

.site-navigation,
.user-navigation {
	list-style: none;

	margin-top: 33px;
}

.site-navigation {
	display: flex;
	justify-content: space-between;

	width: 440px;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
	color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
	opacity: 0.3; 
}

.slider {
	position: relative;

	width: 1440px;
	margin: 0 auto;
	margin-bottom: 80px;

	background-color: #eeeeee;
}

.slide {
	width: 1160px;
	height: 414px;
	margin: 0 auto;
	padding-top: 80px;
	box-sizing: border-box;

	background-image: url("../img/nerds-slide1.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.slide b {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.slide .btn {
	padding-left: 55px;
	padding-right: 55px;
}

.slider-controls {
	position: absolute;
	bottom: 96px;
	left: 50%;
	display: flex;

	list-style: none;
}

.slider-controls button {
	width: 18px;
	height: 18px;
	margin-left: 17px;

	font-size: 0;

	background-color: #ffffff;
	border: none;
	border-radius: 50%;

	cursor: pointer;
}

.btn {
	display: inline-block;

	padding-top: 16px;
	padding-bottom: 16px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #fb565a;
	border-radius: 2px;
}

.btn:hover {
	background-color: #e74246;
}

.btn:active {
	color: rgba(255,255,255,0.3);

	background-color: #d7373b;
}

.services {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.services-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;
}

.services-item {
	flex-basis: 300px;
	padding-top: 146px;

	background-image: url("../img/illustration-2.png");
	background-repeat: no-repeat;
	background-position: left top;
}

.services-item:first-child {
	background-image: url("../img/illustration-1.png");
}

.services-item:last-child {
	background-image: url("../img/illustration-3.png");
}

.services-item .btn {
	padding-left: 40px;
	padding-right: 40px;
}

.services-item:nth-child(2) .btn {
	background-color: #00ca74;
}

.services-item:nth-child(2) .btn:hover {
	background-color: #00bc6c;
}

.services-item:nth-child(2) .btn:active {
	background-color: #00aa62;
}

.services-item:nth-child(3) .btn {
	background-color: #efc84a;
}

.services-item:nth-child(3) .btn:hover {
	background-color: #eab534;
}

.services-item:nth-child(3) .btn:active {
	background-color: #e5a722;
}

.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.studio-about {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.studio-wrapper:first-of-type {
	flex-basis: 660px;
}

.studio-wrapper:last-of-type {
	flex-basis: 360px;

	padding-top: 248px;

	background-image: url("../img/nerds-illustration.png");
	background-repeat: no-repeat;
	background-position: center top;
}

.lead {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.studio-about h3 {
	padding-left: 18px;

	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
}

.studio-projects {
	margin: 0
	padding: 0;

	list-style: none;
}

.studio-projects li::before {
	display: inline-table;

	width: 25px;
	height: 2px;
	margin-right: 10px;

	background-color: #fb565a;
	vertical-align: middle;

	content: "";
}

.advantages tr:first-child {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #000000;
}

.advantage-percent {
	vertical-align: top;

	font-size: 22px;
}

.advantages tr:last-child {
	line-height: 18px;
}

.cases {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.cases-list {
	display: flex;
	justify-content: space-around;
	align-items: center;

	height: 180px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.cases a {
	opacity: 0.2;
}

.cases a:hover,
.cases a:focus {
	opacity: 1;
}

.cases a:active {
	opacity: 0.1;
}

.contacts {
	position: relative;

	width: 1440px;
	margin: 0 auto;
	margin-bottom: 70px;
}

.contacts-wrapper {
	position: absolute;
	top: 55px;
	left: 140px;

	padding: 50px;

	background-color: #ffffff;
}

.contacts-wrapper h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.contacts-wrapper p {
	line-height: 18px;
	color: #666666;
}

.contacts-wrapper .btn {
	padding-left: 45px;
	padding-right: 45px;
}

.main-footer {
	display: flex;

	width: 1160px;
	margin: 0 auto;
	margin-bottom: 70px;
}

.socials {
	display: flex;

	margin: 0;
	margin-right: 140px;
	padding: 0;

	font-size: 0;
	list-style: none;
}

.socials li {
	margin-right: 10px;
}

.socials li:last-child {
	margin-right: 0;
}

.socials a {
	display: block;

	width: 80px;
	height: 80px;

	color: #283136;

	background-color: #e1e1e1;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
}

.socials-vk {
	background-image: url("../img/vk-icon.svg");
}

.socials-fb {
	background-image: url("../img/fb-icon.svg");
}

.socials-insta {
	background-image: url("../img/insta-icon.svg");
}

.main-footer b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.main-footer p {
	line-height: 22px;
	color: #444444;
}

.modal-feedback h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.modal-feedback label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.modal-feedback input,
.modal-feedback textarea {
	border: 2px solid #d7dcde;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
	border: 2px solid #b4b9bb;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
	border: 2px solid #000000;
	outline: none;
}

.modal-feedback input:invalid {
	border: 2px solid #e74246;
}

.modal-feedback button {
	border: none;
}

/* магазин */

.shop-title {
	width: 1440px;
	margin: 0 auto;
	margin-bottom: 57px;
	padding-top: 80px;
	padding-bottom: 115px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
	color: #000000;

	background-color: #eeeeee;
}

.container {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
}

.filters {
	flex-basis: 260px;
}

.filters fieldset {
	margin: 0;
	margin-bottom: 57px;
	padding: 0;

	border: none;
}

.filters fieldset:last-of-type {
	margin-bottom: 47px;
}

.filters legend {
	margin-bottom: 16px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.filters label {
	font: inherit;
	line-height: 20px;
}

.filters .price {
	line-height: 22px;
	text-transform: uppercase;
}

.price input {
	width: 80px;

	font: inherit;
	text-align: center;

	background-color: #eeeeee;
	border: none;
	border-radius: 2px;
}

.filters .btn {
	padding-left: 90px;
	padding-right: 90px;
}

.filter-nav {
	color: #000000;

	background-color: #eeeeee;
	border: none;
	border-radius: 2px;
}

.filter-nav:hover {
	background-color: #dfdfdf;
	border-color: #dfdfdf;
}

.filter-nav:active {
	color: rgba(0,0,0,0.3);
	background-color: #d5d5d5;
	border-color: #d5d5d5;
}

.catalog {
	flex-basis: 760px;
}

.catalog-sort {
	display: flex;
	justify-content: space-between;
}

.catalog-sort h3 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.sort-type {
	display: flex;
	justify-content: space-between;

	width: 360px;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.sort-type a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0,0,0,0.3);
}

.sort-type a:hover {
	color: rgba(0,0,0,0.6);
}

.sort-type a:active,
.sort-type .sort-type-current {
	color: #000000;
}

.sort-type .sort-up,
.sort-type .sort-down {
	font-size: 0;

	border: 11px solid grey;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-item {
	position: relative;

	margin-bottom: 30px;
}

.catalog-item-hover {
	position: absolute;
	bottom: 0;
	left: 0;
	/*display: none;*/

	width: 360px;
	height: 230px;

	text-align: center;

	background-color: #eeeeee;
}

.catalog-item-hover h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.catalog-item-hover p {
	line-height: 18px;
	color: #666666;
}

.catalog-item-hover .btn {
	padding-left: 60px;
	padding-right: 60px;
}

.catalog-pagination {
	display: flex;
	justify-content: flex-start;

	margin: 0;
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 0;

	list-style: none;
}

.catalog-pagination li {
	margin-right: 10px;
}

.catalog-pagination a {
	display: block;
	width: 44px;
	height: 44px;
	
	line-height: 44px;
	text-align: center;
	vertical-align: middle;

	border: 3px solid #eeeeee;
}

.catalog-pagination .catalog-pagination-next {
	width: 260px;
}

.catalog-pagination .catalog-pagination-current {
	background-color: #ffffff;
}